<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>3SC software : Главная</title>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}" />
<!-- CSS -->       
    <!-- Bootstrap css file-->
    <link href="{% static 'core/software/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Font awesome css file-->
    <link href="{% static 'core/software/css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- Superslide css file-->
    <link rel="stylesheet" href="{% static 'core/software/css/superslides.css' %}">
    <!-- Slick slider css file -->
    <link href="{% static 'core/software/css/slick.css' %}" rel="stylesheet"> 
    <!-- smooth animate css file -->
    <link rel="stylesheet" href="{% static 'core/software/css/animate.css' %}">  
    <!-- Elastic grid css file -->
    <link rel="stylesheet" href="{% static 'core/software/css/elastic_grid.css' %}"> 
    <!-- Circle counter cdn css file -->
    <link rel='stylesheet prefetch' href="{% static 'core/software/css/jquery.circliful.css' %}">
    <!-- Default Theme css file -->
    <link id="orginal" href="{% static 'core/software/css/themes/riptide-theme.css' %}" rel="stylesheet">
    <!-- Main structure css file -->
    <link href="{% static 'core/software/css/style.css' %}" rel="stylesheet">

          <!-- Main structure css file For OWL Carousel -->

    <link rel="stylesheet" href="{% static 'core/software/owl/css/owl.carousel.css' %}" >
    <link rel="stylesheet" href="{% static 'core/software/owl/css/owl.theme.default.css' %}" >
    <link rel="stylesheet" href="{% static 'core/software/owl/css/owl.theme.css' %}">

    <!-- Google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
     <!-- BEGIN PRELOADER --
    <div id="preloader">
      <div id="status">&nbsp;</div>
    </div>
    <!-- END PRELOADER -->

    <!-- SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
    <!-- END SCROLL TOP BUTTON -->

    <!--=========== BEGIN HEADER SECTION ================-->
    <header id="header">
        <!-- BEGIN MENU -->
        <div class="menu_area">
            

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
          <div class="navbar-header nav-header">
            <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <!-- LOGO -->
            <!-- TEXT BASED LOGO -->
            <div id="logo_language" class="container">

                <a class="navbar-brand logo" href="/ru/"><img width="70" src="{{MEDIA_URL}}logo.png"></a>


                <div class="language">
                
                    
                    <a class="a-language" href="/ru/set_language/?&language=tr&next=/ru/">TR</a>
                    
                
                    
                
                </div>
            </div>
            <!-- IMG BASED LOGO  -->
            <!--  <a class="navbar-brand" href="#"><img src="/static/software/img/logo.png" alt="logo"></a> -->

          </div>
          <div id="navbar" class="navbar-collapse collapse page-scroll nav-center">
            <ul id="top-menu" class="nav navbar-nav  main_nav nav-center-ul">
            {% if MenuList %}
              {% for Menu in MenuList %}
                <li><a style="" href="{{Menu.url}}">{{Menu.name}}</a></li>
              {%endfor%}
            {% endif %}

            {%if MyUser%}
              <li><a style="" href="/logout/">Sign out</a></li>
              <li><a style="" href="/cabinet/">Personal Cabinet</a></li>
              {%else%}
              <li><a style="" href="/login/">Sign in</a></li>
            {%endif%}
            <!-- 
              <li><a  href="#">Главная</a></li>
              <li><a class="page-scroll"  href="#about" >О КОМПАНИИ</a></li>
              <li><a class="page-scroll"  href="#solutions" >РЕШЕНИЯ</a></li>
              <li><a class="page-scroll"  href="#service" >УСЛУГИ</a></li>
              <li><a class="page-scroll"  href="#works" >НАШИ ПРОЕКТЫ</a></li>
              <li><a class="page-scroll"  href="#partnership" >ПАРТНЕРСТВО</a></li>
              <li><a class="page-scroll"  href="#partner_service" >УСЛУГИ ПАРТНЕРОВ</a></li>
              <li><a class="page-scroll"  href="#publications"   >ПУБЛИКАЦИИ</a></li>
              <li><a class="page-scroll"  href="#contact"   >КОНТАКТЫ</a></li> -->














          </div><!--/.nav-collapse -->
          </div>
        </nav>
        </div>
        <!-- END MENU -->

        <!-- BEGIN SLIDER AREA-->
        <div class="slider_area">
        <!-- BEGIN SLIDER-->
        <div id="slides" style="max-height:100px;background:#242434;">
          
                 
        </div>
        <!-- END SLIDER-->          
      </div>
      <!-- END SLIDER AREA -->
    </header>
    <!--=========== End HEADER SECTION ================--> 
    <div class="container">
    <div class="row">
    <div class="heading">
        <h1>Login Bsss </h1>
    </div>
    <section>
    <form method="POST" action="process/" class="solution_form" id="solution_order_form" enctype="multipart/form-data">
      <input type='hidden' name='csrfmiddlewaretoken' value='9G6zbLAyZnzHIalX4xAxGV1E1WMCN8Lq' />
      <input type="hidden" name="package" value="341" />
          <div class="modal-body offer-form">
          <p>
              Пожалуйста, заполните эту форму, чтобы заказать интернет-решение и мы свяжемся с Вами в течение 24 часов 
          </p>

          <div id="form_message"></div>
          <div class="contact_form" id="solution_order_form_remove">
              <div class=" col-md-12  col-sm-12">

              <input type="hidden" value="28" name="solution_id" id="id_solution">
              <input type="hidden" value="1" name="company_type_id" id="id_company_type">
              <div class=" col-md-6  col-sm-6">
                  <div id="full_name_error">
                  {% csrf_token %}
                      <label for="login">Login</label><span>&nbsp;*</span>
                      <input class="form-control " type="text" placeholder="Login" name="login" id="login">
                      <div id="full_name_error_text"></div>
                  </div>

                  <div id="company_error">
                      <label for="company">Password</label><span>&nbsp;*</span>
                      <input class="form-control" type="password" placeholder="Your Password" name="password" id="company">
                      <input class="form-control" type="hidden" name="prev" value="{{ request.path }}">
                      <div id="company_error_text"></div>
                  </div>
                  <div>
                    <input class="form-control" type="submit" placeholder="Company" id="company">
                  </div>
                  {% csrf_token %}
              </div>
              </div>
          </div>
          </div>
    </form>
    </section>
    </div>
    </div>
    <div class="container">
    <div class="row">
    <div class="heading">
        <h1>Don't you have an account yet? Registrate!</h1>
    </div>
    <section>
    <form method="POST" action="regprocess/" class="solution_form" id="solution_order_form" enctype="multipart/form-data">
      <input type='hidden' name='csrfmiddlewaretoken' value='9G6zbLAyZnzHIalX4xAxGV1E1WMCN8Lq' />
      <input type="hidden" name="package" value="341" />
          <div class="modal-body offer-form">
          <p>
              Пожалуйста, заполните эту форму, чтобы заказать интернет-решение и мы свяжемся с Вами в течение 24 часов 
          </p>

          <div id="form_message"></div>
          <div class="contact_form" id="solution_order_form_remove">
              <div class=" col-md-12  col-sm-12">
              {% csrf_token %}
              <input type="hidden" value="28" name="solution_id" id="id_solution">
              <input type="hidden" value="1" name="company_type_id" id="id_company_type">
              <div class=" col-md-6  col-sm-6">
                  <div id="full_name_error">
                      <label for="full_name">Name</label><span>&nbsp;*</span>
                      <input class="form-control " type="text" placeholder="Full Name" name="login" id="full_name">
                      <div id="full_name_error_text"></div>
                  </div>

                  <div id="company_error">
                      <label for="company">Company</label><span>&nbsp;*</span>
                      <input class="form-control" type="text" placeholder="Company" name="coname" id="company">
                      <div id="company_error_text"></div>
                  </div>
              </div>
              <div class=" col-md-6  col-sm-6">
                  <div id="contact_email_error">
                      <label for="contact_email">E-mail</label><span>&nbsp;*</span>
                      <input class="form-control" type="email" placeholder="Contact Email" name="email" id="contact_email">
                      <div id="contact_email_error_text"></div>
                  </div>
                  <div id="contact_phone_error">
                      <label for="contact_phone">Phone</label><span>&nbsp;*</span>
                      <input class="form-control" type="number" placeholder="Contact Phone" name="phone" id="contact_phone">
                      <div id="contact_phone_error_text"></div>
                  </div>
              </div>
              <div class=" col-md-6  col-sm-6">
                  <div id="contact_email_error">
                      <label for="contact_email">Company Region</label><span>&nbsp;*</span>
                      <input class="form-control" type="text" placeholder="Company Region" name="coregion" id="contact_email">
                      <div id="contact_email_error_text"></div>
                  </div>
                  <div id="contact_email_error">
                      <label for="contact_email">Password</label><span>&nbsp;*</span>
                      <input class="form-control" type="password" placeholder="Password" name="password" id="contact_email">
                      <div id="contact_email_error_text"></div>
                  </div>
              </div>
              <div class=" col-md-6  col-sm-6">
                  <div id="contact_phone_error">
                      <label for="contact_phone">Password Again</label><span>&nbsp;*</span>
                      <input class="form-control" type="password" placeholder="Password Again" name="passagain" id="contact_phone">
                      <input class="form-control" type="hidden" name="prev" value="{{ request.path }}">
                      <div id="contact_phone_error_text"></div>
                  </div>
                  <div id="contact_email_error">
                      <input class="form-control" type="submit" placeholder="Submit" id="contact_email">
                  </div>
              </div>
              {% csrf_token %}
              </div>
              </div>
          </div>
          </div>
    </form>
    </section>
    </div>
    </div>
<script>
    function OfferOrder(){
    //twitter bootstrap script
        var url = $("#offer_order_form").attr('action');
        $.ajax({
            type: "POST",
            url: url,
            data: $('form.offer_form').serialize(),
            dataType: 'json',

            success: function(json_data){
                $("#offer_order_button").prop( "disabled", false );00
                $("#fullname_error").removeClass('form-group has-error');
                $("#fullname_error_text").empty();
                $("#email_error").removeClass('form-group has-error');
                $("#email_error_text").empty();
                $("#phone_error").removeClass('form-group has-error');
                $("#phone_error_text").empty();
                $("#subject_error").removeClass('form-group has-error');
                $("#subject_error_text").empty();
                $("#message_error").removeClass('form-group has-error');
                $("#message_error_text").empty();

                if (json_data['is_send'])
                {
                    $("#form_message").empty();
                    $("#form_message").append
                    ($(
                        '<div id="success-alert" class="alert alert-success">' +
                        ' <a href="#" class="close" data-dismiss="alert">&times;</a>'+
                        ' <strong>'+ 'Успех ! </strong> ' +
                        'Ваше сообщение было успешно отправлено.'+
                        '</div>'
                    ));
                    document.getElementById("offer_order_form").reset();

//                    $("#offer_order_form_remove").hide();
//                    $("#offer_order_button").hide();
                    $("#success-alert").fadeTo(5000, 500).slideUp(500, function(){
                        $("#success-alert").alert('close');
                                                                                    });
                }
                else
                {
                    $("#offer_order_button").prop( "disabled", false );

                    $("#form_message").empty();
                    $("#form_message").append
                    ($(
                        ' <div id="danger-alert" class="alert alert-danger">'+
                        '<a href="#" class="close" data-dismiss="alert">&times;</a>'+
                        '<strong>Ошибка!</strong> Пожалуйста,заполните все обязательные поля правильно.'+
                        '</div>'
                    ));

                    if('fullname' in json_data['errors']){
                        $("#fullname_error").addClass('form-group has-error');
                        $("#fullname_error_text").empty();
                        $("#fullname_error_text").append($( '<strong>' + json_data['fullname']+ '</strong>'
                        ));
                        }
                    if('subject' in json_data['errors']){
                        $("#subject_error").addClass('form-group has-error');
                        $("#subject_error_text").empty();
                        $("#subject_error_text").append($( '<strong>' + json_data['subject']+ '</strong>'
                        ));
                        }
                    if('email' in json_data['errors']){
                        $("#email_error").addClass('form-group has-error');
                        $("#email_error_text").empty();
                        $("#email_error_text").append($( '<strong>' + json_data['email']+ '</strong>'
                        ));
                        }
                    if('phone' in json_data['errors']){
                        $("#phone_error").addClass('form-group has-error');
                        $("#phone_error_text").empty();
                        $("#phone_error_text").append($( '<strong>' + json_data['phone']+ '</strong>'
                        ));
                        }
                    if('message' in json_data['errors']){
                        $("#message_error").addClass('form-group has-error');
                        $("#message_error_text").empty();
                        $("#message_error_text").append($( '<strong>' + json_data['message']+ '</strong>'
                        ));
                        }
                }
            },
            error: function(json_data){
               alert('Oops, something went wrong. Please refresh the page and try again');
                location.reload();
            }
        });
    }
</script>
            

    <!--=========== END CONTACT SECTION ================-->

    <!--=========== BEGIN CONTACT FEATURE SECTION ================-->
    <section id="contactFeature">
      <!-- SKILLS COUNTER OVERLAY -->
      <div class="slider_overlay"></div>
      <div class="row">
        <div class="col-lg-12 col-md-12">       
          <div class="container">               
              <div class="contact_feature">
            <!-- BEGIN CALL US FEATURE -->
            <div class="col-lg-3 col-md-3 col-sm-6">
              <div class="single_contact_feaured wow fadeInUp">
                <i class="fa fa-phone"></i>
                <h4>Позвоните Нам</h4>
                <p>+90 537 576 04 74</p>
                  <br>
              </div>
            </div>
            <!-- BEGIN CALL US FEATURE -->
            <div class="col-lg-3 col-md-3 col-sm-6">
              <div class="single_contact_feaured wow fadeInUp">
                <i class="fa fa-envelope-o"></i>
                <h4>Электроння Почта</h4>
                <p>contact@3sc-universus.com</p>
                  <br>
              </div>
            </div>
            <!-- BEGIN CALL US FEATURE -->
            <div class="col-lg-3 col-md-3 col-sm-6">
              <div class="single_contact_feaured wow fadeInUp">
                <i class="fa fa-map-marker"></i>
                <h4>Адрес Офиса</h4>
                <p>EGS Business Park Atatürk Cad. No:12/1 Kapı No:12 /1 Daire No:149 </p>
              </div>
            </div>
            <!-- BEGIN CALL US FEATURE -->
            <div class="col-lg-3 col-md-3 col-sm-6">
              <div class="single_contact_feaured wow fadeInUp">
                <i class="fa fa-clock-o"></i>
                <h4>Часы Работы</h4>
                <p>Понедельник-Субота 9.00-19.00</p>
                  <br>
              </div>
            </div>
          </div>
          </div>         
        </div>
      </div>
    </section>
    <!--=========== END CONTACT FEATURE SECTION ================-->

     <!--=========== BEGIN FOOTER ================-->
        
    <footer id="footer">
       <div class="container">
         <div class="row">
           <div class="col-lg-6 col-md-6 col-sm-6">
             <div class="footer_left">
               <p>Copyright &copy; 2015 <a>3SC software</a>. Все Права Защищены</p>
             </div>
           </div>
           <div class="col-lg-6 col-md-6 col-sm-6">
             <div class="footer_right">
               <ul class="social_nav">
                 
                 
                 
               </ul>
             </div>
           </div>
         </div>
       </div>
    </footer>
      <!--=========== END FOOTER ================-->

     <!-- Javascript Files
     ================================================== -->
  
     <!-- initialize jQuery Library -->


    <script src="{% static 'core/js/jquery-1.11.3.min.js' %}"></script>
    <!-- Google map -->
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="{% static 'core/software/js/jquery.ui.map.js' %}"></script>
     <!-- For smooth animatin  -->
    <script src="{% static 'core/software/js/wow.min.js' %}"></script> 
    <!-- Bootstrap js -->
    <script src="{% static 'core/software/js/bootstrap.min.js' %}"></script>
    <!-- superslides slider -->
    <script src="{% static 'core/software/js/jquery.superslides.min.js' %}" type="text/javascript"></script>
    <!-- slick slider -->
    <script src="{% static 'core/software/js/slick.min.js' %}"></script>    
    <!-- for circle counter -->
    <script src='https://cdn.rawgit.com/pguso/jquery-plugin-circliful/master/js/jquery.circliful.min.js'></script>
    <!-- for portfolio filter gallery -->
    <script src="{% static 'core/software/js/modernizr.custom.js' %}"></script>
    <script src="{% static 'core/software/js/classie.js' %}"></script>

    <script src="{% static 'core/software/js/elastic_grid.min.js' %}"></script>
<style type="text/css">
  .og-grid li > a img{
    width:250px !important;
    height: 250px !important;
  }
</style>
<script>
// function portfolioImagesWidth(){
//   $('.elastic_grid_demo').find('ul').find('li').find('a').find('img').css('width','200px');
// }
// setInterval(portfolioImagesWidth,1000);

    $(function(){
$("#elastic_grid_demo").elastic_grid({
    'hoverDirection': true,
    'hoverDelay': 0,
    'hoverInverse': false,
    'expandingSpeed': 500,
    'expandingHeight': 500,
    'items' :[

                {%if PortfolioList %}

                  {%for Portfolio in PortfolioList%}
                    {% with Portfolio.description as Pdescription %}
                    {
                    'title': '{{Portfolio.name}}',
                    'description': '{{Pdescription}}',
                    'thumbnail' : [ '{{MEDIA_URL}}{{Portfolio.image}}'],
                    'large' : [ 
                    {%if PortfolioImagesList%}
                      {%for PortfolioImages in PortfolioImagesList%}
                        {%if PortfolioImages.portfolio_id == Portfolio.id%}
                        '{{MEDIA_URL}}{{PortfolioImages.image}}',
                        {%endif%}
                      {%endfor%}
                    {%else%}
                      '/media/projects/textile_1.jpg.250x250_q85_background-%23ffffff12.jpg',
                    {%endif%}
                     ],
                    'button_list'   :
                    [
                        {'title': 'Перейти на портал', 'url' : '{{Portfolio.url}}' },
                        {'title': 'Подробнее', 'url' : '/ru/projects/portal-stroitelnoj-industrii-rossii-i-stran-sng/' }

                    ],
                    'tags'  : ['{{Portfolio.category}}', 'Все']
                    },
                    {%endwith%}
                  {%endfor%}

                {% endif %}
                

        
                

        
     ]
    });
});
</script>

    <script type="text/javascript" src="{% static 'core/js/lightbox.min.js' %}"></script>
    <link  type="text/css" rel="stylesheet" media="all" href="/static/css/photologue/lightbox.css" />
    <script type="text/javascript" src="/ru/jsi18n/"></script>
    <!-- Custom js-->
    <script src="{% static 'core/software/js/custom.js' %}"></script>
    <script src="{% static 'core/software/owl/js/owl.carousel.min.js' %}"></script>
<script>
  $("#owl-demo").owlCarousel({

      autoPlay: 2000, //Set AutoPlay to 3 seconds
      items : 3,
      itemsDesktop : [1199,3],
      itemsDesktopSmall : [979,3]
  });
    </script>



  </body>
</html>