<!-- {% if MyCompany %}
{{ MyCompany.name }}
    <ul>
    {% for Package in Packages %}
        <li><a href="package-{{ Package.id }}">{{ Package.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}


 -->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'services/style.css' %}" />
<!-- CSS -->       
    <!-- Bootstrap css file-->
    <link href="{% static 'services/software/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Font awesome css file-->
    <link href="{% static 'services/software/css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- Superslide css file-->
    <link rel="stylesheet" href="{% static 'services/software/css/superslides.css' %}">
    <!-- Slick slider css file -->
    <link href="{% static 'services/software/css/slick.css' %}" rel="stylesheet"> 
    <!-- smooth animate css file -->
    <link rel="stylesheet" href="{% static 'services/software/css/animate.css' %}">  
    <!-- Elastic grid css file -->
    <link rel="stylesheet" href="{% static 'services/software/css/elastic_grid.css' %}"> 
    <!-- Circle counter cdn css file -->
    <link rel='stylesheet prefetch' href="{% static 'services/software/css/jquery.circliful.css' %}">
    <!-- Default Theme css file -->
    <link id="orginal" href="{% static 'services/software/css/themes/riptide-theme.css' %}" rel="stylesheet">
    <!-- Main structure css file -->
    <link href="{% static 'services/software/css/style.css' %}" rel="stylesheet">

          <!-- Main structure css file For OWL Carousel -->

    <link rel="stylesheet" href="{% static 'services/software/owl/css/owl.carousel.css' %}" >
    <link rel="stylesheet" href="{% static 'services/software/owl/css/owl.theme.default.css' %}" >
    <link rel="stylesheet" href="{% static 'services/software/owl/css/owl.theme.css' %}">

    <!-- Google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>






<!--=========== BEGIN SOLUTIONS SECTION ================-->
     <section id="solutions">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <!-- BEGIN SERVICE HEADING -->
            <div class="heading">
    		  {% if MyCompany %}
			  
              <h2 class="wow fadeInLeftBig">{{ MyCompany.name }}</h2>

              {%endif%}
              <p>Мы предлагаем следующие типы интернет-решений
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12">
                <div class="row">
                    <div class="col-lg-12 home-solution-type">
                    <table class="table">
                    
                    <tr>
                        <td>
                        	<p>
                        		{{ MyCompany.description }}
                        	</p>
                        </td>
                    </tr>
                    
                    </table>
                    </div>
                </div>
          </div>
        </div>
        </div>
      </section>
    <!--=========== BEGIN SOLUTIONS SECTION ================-->

    <!--=========== BEGIN SOLUTIONS SECTION ================-->
     <section id="solutions_industries">
      <div class="container">
        
          <div class="row" id="solution1">
          <div class="col-lg-12 col-md-12">
            <!-- BEGIN SERVICE HEADING -->
            <div class="heading">
              <h2 class="wow fadeInLeftBig">Интернет-решения для отраслевых компаний</h2>
              <p>Используя опыт работы с компаниями в наших отраслевых проектах, мы предлагаем специализированные сайты разработанные для следующих типов компаний

              </p>
            </div>
          </div>
        </div>
        <div class="row">
            {%for Package in Packages %}
            <div class="col-md-6  col-xs-12 industry">
            <div class="industry-image pull-left">
                <img src="/media/solutions/industry/const_ind.jpg.200x200_q85_background-%23ffffff.jpg">
            </div>
            <h4><a href="package-{{ Package.id }}">{{ Package.name }}</a></h4>
                <ul>
                	{% for Service in Service_line %}
                		{% if Service.Package_id == Package.id %}
                    		<li>{{Service.name}}</li>
                		{%endif%}
            		{%endfor%}
                    <!-- <li><a href="/ru/solutions/dlja-stroitelnyh-kompanij/">Для строительных компаний</a></li>
                
                    <li><a href="/ru/solutions/dlja-studij-interer-dizajna/">Для студий интерьер-дизайна</a></li>
                
                    <li><a href="/ru/solutions/dlja-postavshchikov-strojmaterialov/">Для поставщиков стройматериалов</a></li>
                
                    <li><a href="/ru/solutions/dlja-postavshchikov-strojtehniki/">Для поставщиков стройтехники</a></li>
                
                    <li><a href="/ru/solutions/dlja-arhitekturnyh-studij/">Для архитектурных студий</a></li>
                 -->
                </ul>
            </div>
            {% endfor %}
            <!-- <div class="col-md-6  col-xs-12 industry">
            <div class="industry-image pull-left">
                <img src="/media/solutions/industry/textile.jpg.200x200_q85_background-%23ffffff.jpg">
            </div>
            <h4>Текстильная отрасль</h4>
                <ul>
                
                    <li><a href="/ru/solutions/dlja-proizvoditelej-tekstilja/">Для производителей текстиля</a></li>
                
                    <li><a href="/ru/solutions/dlja-proizvoditelej-odezhdy/">Для производителей одежды</a></li>
                
                    <li><a href="/ru/solutions/dlja-postavshchikov-tekstilja/">Для поставщиков текстиля</a></li>
                
                    <li><a href="/ru/solutions/dlja-postavshchikov-odezhdy/">Для поставщиков одежды</a></li>
                
                    <li><a href="/ru/solutions/dlja-magazinov-tekstilja/">Для магазинов текстиля</a></li>
                
                    <li><a href="/ru/solutions/dlja-magazinov-odezhdy/">Для магазинов одежды</a></li>
                
                </ul>
            </div>
            
            <div class="col-md-6  col-xs-12 industry">
            <div class="industry-image pull-left">
                <img src="/media/solutions/industry/turism.jpg.200x200_q85_background-%23ffffff.jpg">
            </div>
            <h4>Отрасль туризма</h4>
                <ul>
                
                    <li><a href="/ru/solutions/dlja-turisticheskih-agentstv/">Для туристических агентств</a></li>
                
                    <li><a href="/ru/solutions/dlja-otelej/">Для отелей</a></li>
                
                    <li><a href="/ru/solutions/dlja-turisticheskih-obektov/">Для туристических объектов</a></li>
                
                </ul>
            </div>
            
            <div class="col-md-6  col-xs-12 industry">
            <div class="industry-image pull-left">
                <img src="/media/solutions/industry/furniture.jpg.200x200_q85_background-%23ffffff.jpg">
            </div>
            <h4>Мебельная отрасль</h4>
                <ul>
                
                    <li><a href="/ru/solutions/dlja-proizvoditelej-mebeli/">Для производителей мебели</a></li>
                
                    <li><a href="/ru/solutions/dlja-postavshchikov-mebeli/">Для поставщиков мебели</a></li>
                
                    <li><a href="/ru/solutions/dlja-mebelnyh-magazinov/">Для мебельных магазинов</a></li>
                
                    <li><a href="/ru/solutions/dlja-magazinov-furnitury-i-aksessuarov/">Для магазинов фурнитуры и аксессуаров</a></li>
                
                </ul>
            </div>
            
            <div class="col-md-6  col-xs-12 industry">
            <div class="industry-image pull-left">
                <img src="/media/solutions/industry/furniture-for-home.jpg.200x200_q85_background-%23ffffff.jpg">
            </div>
            <h4>Отрасль товаров для дома</h4>
                <ul>
                
                    <li><a href="/ru/solutions/dlja-postavshchikov-tovarov-dlja-kuhni/">Для поставщиков товаров для кухни</a></li>
                
                    <li><a href="/ru/solutions/dlja-postavshchikov-tovarov-dlja-dekora/">Для поставщиков товаров для декора</a></li>
                
                    <li><a href="/ru/solutions/dlja-postavshchikov-elektroniki-i-bytovoj-tehniki/">Для поставщиков электроники и бытовой техники</a></li>
                
                    <li><a href="/ru/solutions/dlja-postavshchikov-instrumentov-i-oborudovanija/">Для поставщиков инструментов и оборудования</a></li>
                
                </ul>
            </div>
            
            <div class="col-md-6  col-xs-12 industry">
            <div class="industry-image pull-left">
                <img src="/media/solutions/industry/realty.jpg.200x200_q85_background-%23ffffff.jpg">
            </div>
            <h4>Недвижимость</h4>
                <ul>
                
                    <li><a href="/ru/solutions/dlja-rieltorskih-agentstv/">Для риэлторских агентств</a></li>
                
                    <li><a href="/ru/solutions/dlja-investicionno-stroitelnyh-kompanij/">Для инвестиционно-строительных компаний</a></li>
                
                    <li><a href="/ru/solutions/dlja-kompanij-po-ocenke-nedvizhimosti/">Для компаний по оценке недвижимости</a></li>
                
                </ul>
            </div>
            
            <div class="col-md-6  col-xs-12 industry">
            <div class="industry-image pull-left">
                <img src="/media/solutions/industry/other.jpg.200x200_q85_background-%23ffffff.jpg">
            </div>
            <h4>Другие отрасли</h4>
                <ul>
                
                    <li><a href="/ru/solutions/dlja-postavshchikov-syrja-materialov-i-oborudovanija/">Для поставщиков сырья, материалов и оборудования</a></li>
                
                    <li><a href="/ru/solutions/dlja-proektnyh-i-inzhiniringovyh-kompanij/">Для проектных и инжиниринговых компаний</a></li>
                
                    <li><a href="/ru/solutions/dlja-proizvodstvennyh-kompanij/">Для производственных компаний</a></li>
                
                    <li><a href="/ru/solutions/dlja-vsekh-kompanij/">Для всех компаний</a></li>
                
                </ul>
            </div> -->
            
        </div>
        
        </div>
      </section>