{% if MyPackage %}
	{{ MyPackage.name }}
    <ul>
    <!-- {% for Service in Services %}
        <li><a href="/package-{{ Service.id }}">{{ Service.name }}</a></li>
    {% endfor %} -->
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
<link rel="stylesheet" href="http://alfaprime.az/css/main.css">
<link rel="stylesheet" href="http://alfaprime.az/css/responsive.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://alfaprime.az/js/main.js"></script>
	<!-- Prety photo -->

<div class="row-item col-3_4">
	<!-- Sol panel -->

	<style type="text/css">
		.mehsul:hover{
			background: #4c4d50;
		}
	</style>
	<div class="b-tabs">
		<!-- Tabs Navigation -->
		<ul class="tabs-nav">
			{% for Service in Services %}
				{% if forloop.counter == 1 %}
					{%with "active" as active%}
						<li class="{{active}} mehsul">
					{% endwith %}

				{% else %}
					{%with "deactive" as active%}
						<li class="{{active}} mehsul">
					{% endwith %}
				{% endif %}
				<span><i class="icon-th-large"></i>{{ Service.name }}</span></li>
			{%endfor%}
			<!-- <li class="mehsul"><span><i class="icon-th-large"></i>Mehsul1</span></li>
			<li class="mehsul"><span><i class="icon-th-large"></i>Mehsul 2</span></li>
			<li class="mehsul"><span><i class="icon-th-large"></i>Mehsul3</span></li>
			<li class="mehsul"><span><i class="icon-th-large"></i>Mehsul3</span></li>
			<li class="mehsul"><span><i class="icon-th-large"></i>Mehsul3</span></li>
			<li class="mehsul"><span><i class="icon-th-large"></i>Mehsul3</span></li>
			<li class="mehsul"><span><i class="icon-th-large"></i>Mehsul3</span></li> -->

		</ul>
		<!-- End Tabs Navigation -->
		<!-- Tabs Content -->
		<div class="tabs-content">

			


			{% for Service in Services %}
				{% if forloop.counter == 1 %}
					{%with "active" as active%}
						<div class="tab {{active}}">
					{% endwith %}

				{% else %}
					{%with "deactive" as active%}
						<div class="tab {{active}}">
					{% endwith %}
				{% endif %}
								
					<p class="MsoNormal">
						<span lang="AZ-LATIN">{{Service.description}}<!--[if !supportFootnotes]-->
							
						</span>
					</p>
					<hr align="left" size="1">
					<p>
						<div class="row">
							<div class="row-item col-1_4 wow zoomIn animated" data-wow-duration="1.5s" data-wow-delay="0.1s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.1s; animation-name: zoomIn;">
									<div class="work">
										<a href="img/YMA_11479926007.JPG" rel="prettyPhoto" class="work-image">
											<img src="img/YMA_11479926007.JPG" alt="">
											<div class="link-overlay icon-search">
											</div>
										</a>
									</div>
							</div>
						
							<div class="row-item col-1_4 wow zoomIn animated" data-wow-duration="1.5s" data-wow-delay="0.1s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.1s; animation-name: zoomIn;">
									<div class="work">
										<a href="img/YMA_21479926007.JPG" rel="prettyPhoto" class="work-image">
											<img src="img/YMA_21479926007.JPG" alt="">
											<div class="link-overlay icon-search">
											</div>
										</a>
									</div>
							</div>
						
									
						</div>
					</p>

				</div>
				
			{%endfor%}
				
		</div>
			<!-- End Tabs Content -->
	</div>


		<!-- Sag panel -->

</div>