
.scrollToTop{
	background-color: #86E2D5;
}
.scrollToTop:hover,.scrollToTop:focus{
  background-color: #fff;
  color: #86E2D5;
  border: 1px solid #86E2D5;
}
.navbar-brand > span {
  color: #86E2D5;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus { 
  color: #86E2D5;
}
.navbar-default .navbar-nav > li > a:hover{
  color: #86E2D5;
}
.slider_btn:hover,.slider_btn:focus{
	border-color:#86E2D5;
	color: #86E2D5;
}
.slides-navigation a::before,
.slides-navigation a::after,
.slides-navigation .icon-wrap::before,
.slides-navigation .icon-wrap::after {
	background: #86E2D5;
}
.slides-pagination a {
  border: 2px solid #86E2D5;
}
.heading h2, .heading h1 {
  border-bottom: 11px solid #86E2D5;
}
.panel-title a:hover{
	color: #86E2D5;		
}
.panel-title a span{
  color: #86E2D5;		
}
.service_icon{
	background-color: #86E2D5;
}
.single_service:hover .service_icon{	
	color: #86E2D5;
	border: 2px solid #86E2D5;
	background-color: #fff;
}
.single_service:hover .service_title{
	color: #86E2D5;
}
.single_service > .service_title:after {
  background-color: #86E2D5;
}
.heading h3 {
  border-bottom: 5px solid #86E2D5;
}
.fa-2x {
  color: #86E2D5;
}
.single_team span {
  color: #86E2D5;
}
.team_social a:hover,.team_social a:focus{
	background-color: #86E2D5;
}
.slick-prev, .slick-next {
  background-color: #86E2D5;
}
.single_price .price {
  background-color: #86E2D5; 
}
.price_btn {
  background-color: #86E2D5;
  border: 1px solid #86E2D5;
}
.price_btn:hover{
	color: #86E2D5 !important;
}
.business_price {
  background-color: #86E2D5 !important;
}
.business_price .price_btn{	
	color: #86E2D5 !important;
}
.post_commentbox a:hover, .post_commentbox span:hover{
	color: #86E2D5;
}
.read_more{
	color: #86E2D5;	
}
.read_more:hover,.read_more:focus{
	border-bottom: 2px solid #86E2D5;
}
.testi_media .media-body span {
  color: #86E2D5;
}
.testimonial_slider .slick-dots li.slick-active button{
  background: none repeat scroll 0 0 #86E2D5;  
}
.submit_btn {
  background-color: #86E2D5;
}
.submit_btn:hover{
	color: #86E2D5;
	border-color: #86E2D5;
}
.form-control:focus {
  border-color: #86E2D5;
}
.wagwep-container ul#portfolio-filter a:hover{
  background-color: #86E2D5;
}
.wagwep-container ul#portfolio-filter li.current a {
  background:#86E2D5;  
}
.single_contact_feaured > i {
  color: #86E2D5;
}
.subscr_btn {
  background-color: #86E2D5;
}
.footer_left > p a {
  color: #86E2D5;
  font-weight: bold;
}
.social_nav li a:hover{
  color: #86E2D5;
  border-color: #86E2D5; 
}
.panel-default .in{
  border-color: #86E2D5;
  border-left: 5px solid #86E2D5;
}
.about_slider .slick-dots li.slick-active button:before {
  color: #86E2D5;
}